body{
    font-family: 'UD デジタル 教科書体 NP-B';
}
#header{
    background-color: palegreen;
    margin: auto;
    text-align: center;
    padding: 25px;
    height: auto;
}
#title{
    text-align: center;
    font-size: 60px;
    border: solid white;
    border-radius: 10px;
    padding: 8px 20px 8px 20px;
    color: black;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 25px;
    background-color: deepskyblue;
    font-family: 'Impact';
}
.button_selector{
    display: flexbox block;
    border: solid white;
    border-radius: 7.5px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background: deepskyblue;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
}
#contents{
    background-color: lightblue;
    padding: 2px;
    text-indent: 10px;
}
#footer{
    background-color: grey;
    margin-top: unset;
}
#sitemap{
    text-align: left;
    margin: auto;
    padding: 10px;
    color: white;
    text-decoration: none;
}
#sitemap_title{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: unset;
}
.sitemap_contents_title{
    color: white;
    text-decoration: none;
    font-size: small;
    padding-left: 10px;
}
.sitemap_contents_text{
    color: white;
    text-decoration: none;
}
@media screen and (max-width:480px) {
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
  body{
    font-family: 'UD デジタル 教科書体 NP-B';
}
#header{
    background-color: palegreen;
    margin: auto;
    width: auto;
    text-align: center;
    padding: 15px;
    height: auto;
}
#title{
    text-align: center;
    font-size: 50px;
    border: solid white;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    display: block;
    width: auto;
    margin: auto;
    margin-bottom: 25px;
    background-color: deepskyblue;
    font-family: 'Impact';
}
.button_selector{
    display: flexbox block;
    border: solid white;
    border-radius: 7.5px;
    padding: 6px;
    margin: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: deepskyblue;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
#contents{
    background-color: lightblue;
    padding: 2px;
    text-indent: 10px;
}
#footer{
    background-color: grey;
    margin-top: unset;
}
#sitemap{
    text-align: left;
    margin: auto;
    padding: 10px;
}
#sitemap_title{
    display: block;
    color: white;
}
}